<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/menu.css">
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/media query/menu-media.css">
</head>
<body>
<%- include('partials/navbar', { showOrderButton: true }) %>

<section id="header">
    <h1>Our Menu</h1>
</section>

<section id="menu" class="menu">
    <div class="menu-container">
        <% items.forEach(item => { %>
            <div class="card">
                <img src="<%= item.image %>" class="card-image">
                <div class="card-content">
                    <h2 class="card-title"><%= item.name %></h2>
                    <div class="card-stats">
                        <div class="stat">
                            <form action="/add-to-cart" method="POST">
                                <input type="hidden" name="itemId" value="<%= item._id %>">
                                <button class="stat-number" type="submit">Place Order</button>
                            </form>
                            <a href="javascript:void(0)" class="stat-label" data-image="<%= item.image %>">
                                Live Preview
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>

    <div id="imgModal" class="modal">
        <a href="javascript:void(0)" class="close">&times;</a>
        <img class="modal-content" id="modalImage">
    </div>
</section>

<%- include('partials/footer') %>

<button id="theme-toogle" class="theme-toogle">
    <i class="fas fa-moon"></i>
</button>
<script src="/JS/menu.js"></script>
</body>
</html>
